<form action="/addPlace" method="post">
  <label for="city">Which city did you visit?</label>
  <input type="text" name="city" id="city">
  <label for="imageSubmit">Upload an image from your travels.</label>
  <input type="file" name="imageSubmit" id="imageSubmit">
  <button type="submit">Mark as Visited</button>
</form>
