<form action="/addPlace" method="post">
  <label for="city">Which city did you visit? Just curious...</label>
  <input type="text" name="city" id="city"><br>
  <label for="year">What year did you last visit there?  Do tell.</label>
  <input type="text" name="year" id="year"><br>
  <label for="adj">Describe this city in one word. (Or more if you really want to...)</label>
  <input type="text" name="adj" id="adj"><br>
  <label for="imageLink">Link an image URL to your super cool city</label>
  <input type="text" name="imageLink" id="imageLink"><br>
  <button type="submit">Mark as Visited</button>
</form>
