<form action="/addPlace" method="post">
  <label for="city">Which city did you visit?</label>
  <input type="text" name="city" id="city"><br>
  <label for="imageLink">Link a URL to your super cool city</label>
  <input type="text" name="imageLink" id="imageLink"><br>
  <button type="submit">Mark as Visited</button>
</form>
